@tailwind base;
@tailwind components;
@tailwind utilities;

option {
    background-color: #f0f0f0;
    color: #333;
}

/* Style for the selected option */
option:checked {
    font-weight: bold;
    background-color: #ccc;
}

/* header */

/* loading stuff */
.product-loading{
    /* border:solid; */
    padding-top: 10rem;
    max-width: 1270px;
    margin:auto;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
.product-loading2{
    width: fit-content;
    margin:auto;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
    /* border:solid; */
}
.tiktok-spinner{
    position:relative;
    height:2em;
    width:4.1em;
}
.ball{
    position: absolute;
    height:2em;
    width: 2em;
    border-radius:50%;
}
.ball.red{
    left:0;
    background-color: rgb(255, 0, 0);
    animation: 0.7s red-move ease-in-out infinite;
}
.ball.blue{
    right:0;
    background-color: rgb(85, 255, 0);
    animation : 0.7s blue-move ease-in-out infinite;
}
@keyframes blue-move{
    25%{
        transoform: scale(0,7);
    }
    50%{
        right:1.9em;
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        right:0;
    }
}
@keyframes red-move{
    25%{
        transoform: scale(1,2);
    }
    50%{
        left:1.9em;
    }
    75%{
        transform: scale(0.7);
    }
    100%{
        left:0;
    }
}
/* @keyframes celebration{
    0%{
        transform: translateX(-10rem) translateY(10rem);
    }
    50%{
        transform:translateX(-8rem) translateY(-10rem);
    }
    100%{
        transform: translateX(0rem) translateY(0rem)
    }
}

#siuu{
    animation-name: celebration;
    animation-timing-function: ease-out;
    animation-duration: 1300ms;
} */



.text-animation{
    width: 100%;
    border-right:5px solid;
    white-space:nowrap;
    overflow: hidden;
    animation: 
        typing 2.3s infinite alternate,
        cursor 0.4s step-end infinite alternate;
}
@keyframes cursor{
    50%{ border-color: transparent;}
}
@keyframes typing{
    from {width: 0}
}
  
/* styles.css or your CSS file */
.header {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
  }
  
.header.hidden {
transform: translateY(-100%);
opacity: 0;
}
  


.backgroundimg {
    background-image: url("./assets/background.png");
    background-size:cover;
    background-position: 10%;
}
@keyframes knife_chop {
    0% {
        transform: rotate(-140deg) translatey(-35rem);
    }
    100% {
        transform: rotate(-100deg) translateX(0);
    }
}

#patrick_knife {
    position: absolute;
    bottom: 6rem;
    left: -5rem;
    transform: rotate(-100deg);
    animation-name: knife_chop;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

#ronaldo-bg:hover{
    background-image: url("./assets/ronaldobackground.jpg");
    background-size: auto;
    background-position: center;
    filter: blur(0.5px); /* Apply blur effect */
}





/* for small */
@media (max-width:767px){
    .backgroundimg{
        background-image: none;
        background-color: rgba(55, 65, 81, 1);
    }
}

/*for medium */
@media (min-width: 768px) and (max-width: 1024px){
    .backgroundimg{
        background-image: none;
        background-color: rgba(55, 65, 81, 1);
    }
}
/* for large and medium */
@media (max-width: 1439px){

}